*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
/* navbar */
header{
    background-color: #1f2937;
    height: 10vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.links{
    display: flex;
    height: 100%;
}

.links a{
    text-align: center;
    margin: auto;
    flex: 1;
    text-decoration: none;
    padding: 10px 20px;
    width: 150px;
    color: #e5e7eb;
    font-size: 18px;
}

.links a:hover{
    color: #3882f6;
}

.logo{
    width: 65px;
    border-radius: 50%;
    margin: 5px;
}

/* Hero */
main{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    height: 90vh;
    padding: 50px;
    gap: 70px;
}

.top-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.descript{
    font-size: 18px;
    text-align: justify;
    color: #e5e7eb;
}

.moka{
    flex: 1;
    width: 34%;
    border-radius: 15px;
    box-shadow: 0 0 3px white;
}

.signup{
    padding: 15px 30px;
    margin: 12px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: bold;
    transition: 1s;
}

.signup:hover{
    cursor: pointer;
    background-color: #6aa1f9;
    color: #1f2937;
    transform: translateY(-8px);
}

/* Middle-Top */
#middle-top{
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 10px;
    margin: 35px 0;
}

.title2{
    text-align: center;
    margin: 5px 0 10px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.galeria{
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin: 5px 0 8px;
}

.galeria img{
    width: 20%;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.pies{
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin-bottom: 20px;
}

.pies p{
    flex: 1;
    width: 20%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Quote */
#quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 10px;
    height: 50vh;
}

@media (max-width: 1250px){
    #quote{
        flex: 1;
    }
}
.frase{
    padding: 30px;
    margin: 15px 30px 5px;
    display: block;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    text-align: center;
}

.autor{
    display: block;
    padding: 0 30px;
    align-self: self-end;
    margin-right: 35px;
    font-size: 22px;
    font-weight: bold;
}

/* Call to action */
#call{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.tarjeta{
    display: flex;
    gap: 10px;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 1px 1px 2px black;
}

.texto{
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.texto .title3{
    text-align: center;
    color: #e5e7eb;
    font-size: 28px;
    margin-bottom: 10px;
}

.texto .explica{
    text-align: center;
    font-size: 16px;
    color: #e5e7eb;
}

.action{
    flex: 1;
    border-radius: 10px;
    box-shadow: none;
    margin: 15px;
    font-size: 15px;
    background-color: #e5e7eb;
    transition: 1s;
}

.action:hover{
    background-color: #1f2937;
    cursor: pointer;
    color: #e5e7eb;
    transform: translateY(-5px);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 5px;
    height: 5vh;
}