*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
/* navbar */
header{
    background-color: #1f2937;
    height: 10vh;
}
nav{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.links{
    display: flex;
}

.links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    color: #e5e7eb;
    font-size: 18px;
}

.links a:hover{
    color: #3882f6;
}

.logo{
    width: 65px;
    border-radius: 50%;
    margin: 5px;
}

/* Hero */
#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    height: 90vh;
    padding: 50px;
    gap: 70px;
}

.top-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.descript{
    font-size: 18px;
    text-align: justify;
    color: #e5e7eb;
}

.moka{
    width: 34%;
    border-radius: 15px;
    box-shadow: 0 0 3px white;
}

.signup{
    padding: 15px 30px;
    margin: 12px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: bold;
    transition: 1s;
}

.signup:hover{
    cursor: pointer;
    background-color: #6aa1f9;
    color: #1f2937;
    transform: translateY(-8px);
}

/* Middle-Top */
#middle-top{
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.title2{
    text-align: center;
    margin: 15px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.galeria{
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin: 5px 0 5px;
}

.galeria img{
    width: 20%;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.pies{
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.pies p{
    width: 20%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}
